
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UserFeed</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

</head>
<body>
    <nav class="ui menu inverted navbar page grid" style="margin-bottom: 0px">
        <a href="" class="brand item">UserFeed</a>
    </nav>
    <div class="ui grid">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui huge message page grid">
                    <h1 class="ui huge header">Welcome to UserFeed!</h1>
                    <p>This project demonstrates the real time User feeds driven by RethinkDB .Just enter your details below to proceed</p>
                    <center>

        <form action="" method="post">
            <div class="item">
                <div class="ui huge input">
                    <input name="email" type="email" placeholder="Email">
                </div>
            </div><br />
            <div class="item">
                <div class="ui huge input">
                    <input type="input" name="nickname" placeholder="Nick-Name">
                </div>
            </div><br />
            <input type="submit" class= "ui blue button" value="Go"><br /><br /></center>
                </form>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="column">
                <div class="ui divider"></div>  
                <span>&copy; Impythonist 2014</span>
            </div>
            </div>
</body>
</html>