
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UserFeed</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src= "//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type= "text/javascript" src='/static/js/sockhandle.js'></script>
</head>
<body>
    <nav class="ui menu inverted navbar page grid" style="margin-bottom: 0px">
        <a href="" class="brand item">UserFeed</a>
    </nav>
<div id="row">
 <p> You are successfully Joined the league.Sit tight and see who is next!</p>
<ul id="myul">
</ul>
</div>
    <div class="ui grid">
            <div class="column">
                <div class="ui divider"></div>  
                <span>&copy; Impythonist 2014</span>
            </div>
            </div>
</body>
</html>