
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UserFeed</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src= "//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type= "text/javascript" src='/static/js/sockhand.js'></script>
</head>
<body>
    <nav class="ui menu inverted navbar page grid" style="margin-bottom: 0px">
        <a href="" class="brand item">UserFeed</a>
    </nav>
<div id="row">
            <div class="column" id="mycol">
                <h1 class="ui header">{{name}}'s  League Board</h1>
                <div class="ui divider"></div>
                <!--
                <div class="ui green message"><h2>Well done! You successfully read this important alert message.</h2></div>
                <div class="ui blue message">Heads up! This alert needs your attention, but it's not super important.</div>
                <div class="ui yellow message">Warning! Best check yo self, you're not looking too good.</div>
                <div class="ui red message">Oh snap! Change a few things up and try submitting again.</div> -->

            </div>
<ul id="myul">
</ul>
</div>
    <div class="ui grid">
            <div class="column">
                <div class="ui divider"></div>  
                <span>&copy; Impythonist 2015</span>
            </div>
            </div>
</body>
</html>